node red json file- GAYATHRI G.json
[{"id":"4ef11005.a90e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"4ef11005.a90e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":140,"wires":[]},{"id":"737d9db9.74be24","type":"ui_form","z":"4ef11005.a90e","name":"","label":"","group":"4f06d606.e90c28","order":4,"width":0,"height":0,"options":[{"label":"AVGHEARTBEATSPERMIN","value":"avg","type":"number","required":true,"rows":null},{"label":"PALPITATIONSPERDAY","value":"palp","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"cho","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"AGE","value":"age","type":"number","required":true,"rows":null},{"label":"EXERCISEMINPERWEEK","value":"exmin","type":"number","required":true,"rows":null}],"formValue":{"avg":"","palp":"","cho":"","bmi":"","age":"","exmin":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":120,"y":100,"wires":[["6ff74694.596a98"]]},{"id":"2f0f52af.464d8e","type":"ui_dropdown","z":"4ef11005.a90e","name":"","label":"Enter Your Sex","tooltip":"","place":"Select option","group":"4f06d606.e90c28","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"M","value":"M","type":"str"},{"label":"F","value":"F","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":120,"y":200,"wires":[["478746e5.1e9bd8"]]},{"id":"9641c753.567c78","type":"ui_dropdown","z":"4ef11005.a90e","name":"","label":"Enter Your Family History (Y/N)","tooltip":"","place":"Select option","group":"4f06d606.e90c28","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Y","value":"Y","type":"str"},{"label":"N","value":"N","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":170,"y":260,"wires":[["12598a75.40e2c6"]]},{"id":"1612df5f.a21961","type":"ui_dropdown","z":"4ef11005.a90e","name":"","label":"Smoker Last 5 Yrs (Y/N)","tooltip":"","place":"Select option","group":"4f06d606.e90c28","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"N","value":"N","type":"str"},{"label":"Y","value":"Y","type":"str"}],"payload":"","topic":"topic","topicType":"msg","x":150,"y":320,"wires":[["69efc678.f85038"]]},{"id":"672a0d0c.5a4464","type":"debug","z":"4ef11005.a90e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":220,"wires":[]},{"id":"519836d7.077768","type":"debug","z":"4ef11005.a90e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":300,"wires":[]},{"id":"78ad329c.c576dc","type":"debug","z":"4ef11005.a90e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":380,"wires":[]},{"id":"6ff74694.596a98","type":"function","z":"4ef11005.a90e","name":"global variables for form node","func":"global.set(\"avg\",msg.payload.avg)\nglobal.set(\"palp\",msg.payload.palp)\nglobal.set(\"cho\",msg.payload.cho)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"exmin\",msg.payload.exmin)\nvar apikey= \"2rrvxgmeDtZ4U2D21QAmtYMXKkQP4POHnTx4vxhmvztH\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}                            \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":100,"wires":[["f2f2649a.0d0d98","9e13378f.bde478"]]},{"id":"478746e5.1e9bd8","type":"function","z":"4ef11005.a90e","name":"sex","func":"global.set(\"sex\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":200,"wires":[["672a0d0c.5a4464"]]},{"id":"12598a75.40e2c6","type":"function","z":"4ef11005.a90e","name":"fam","func":"global.set(\"fam\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":280,"wires":[["519836d7.077768"]]},{"id":"69efc678.f85038","type":"function","z":"4ef11005.a90e","name":"smoke","func":"global.set(\"smoke\",msg.payload)\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":340,"wires":[["78ad329c.c576dc"]]},{"id":"9e13378f.bde478","type":"http request","z":"4ef11005.a90e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":880,"y":120,"wires":[["9b8916a3.5a9ae8","62237452.f2596c"]]},{"id":"9b8916a3.5a9ae8","type":"debug","z":"4ef11005.a90e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":960,"y":200,"wires":[]},{"id":"62237452.f2596c","type":"function","z":"4ef11005.a90e","name":"","func":"var avg=global.get(\"avg\")\nvar palp=global.get(\"palp\")\nvar cho=global.get(\"cho\")\nvar bmi=global.get(\"bmi\")\nvar age=global.get(\"age\")\nvar exmin=global.get(\"exmin\")\nvar sex=global.get(\"sex\")\nvar fam=global.get(\"fam\")\nvar smoke=global.get(\"smoke\")\nvar token=msg.payload.access_token\nmsg.headers={\"Content-Type\": \"application/json\",\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\n\t\"input_data\": [\n\t\t{\n\t\t\t\"fields\": [\n\t\t\t\t\"AVGHEARTBEATSPERMIN\",\n\t\t\t\t\"PALPITATIONSPERDAY\",\n\t\t\t\t\"CHOLESTEROL\",\n\t\t\t\t\"BMI\",\n\t\t\t\t\"AGE\",\n\t\t\t\t\"SEX\",\n\t\t\t\t\"FAMILYHISTORY\",\n\t\t\t\t\"SMOKERLAST5YRS\",\n\t\t\t\t\"EXERCISEMINPERWEEK\"\n\t\t\t],\n\t\t\t\"values\": [\n\t\t\t\t[\n\t\t\t\t\tavg,\n\t\t\t\t\tpalp,\n\t\t\t\t\tcho,\n\t\t\t\t\tbmi,\n\t\t\t\t\tage,\n\t\t\t\t\tsex,\n\t\t\t\t\tfam,\n\t\t\t\t\tsmoke,\n\t\t\t\t\texmin\n\t\t\t\t]\n\t\t\t]\n\t\t}\n\t]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":140,"wires":[["5e08eed1.970bd"]]},{"id":"5e08eed1.970bd","type":"http request","z":"4ef11005.a90e","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/cb292ec4-6c05-4511-8215-2881cc50228d/predictions?version=2021-08-04","tls":"","persist":false,"proxy":"","authType":"","x":1280,"y":200,"wires":[["3ea2c0ba.eeb7e","71773dab.9bb084"]]},{"id":"3ea2c0ba.eeb7e","type":"debug","z":"4ef11005.a90e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":300,"wires":[]},{"id":"71773dab.9bb084","type":"function","z":"4ef11005.a90e","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":180,"wires":[["1bea36af.27e269","2cf9a253.5074ce"]]},{"id":"1bea36af.27e269","type":"debug","z":"4ef11005.a90e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1780,"y":220,"wires":[]},{"id":"2cf9a253.5074ce","type":"ui_text","z":"4ef11005.a90e","group":"4f06d606.e90c28","order":5,"width":0,"height":0,"name":"","label":"The Prediction is :","format":"{{msg.payload}}","layout":"row-center","x":1940,"y":120,"wires":[]},{"id":"4f06d606.e90c28","type":"ui_group","name":"Enter The Values","tab":"f6c8b3b3.7c0a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"f6c8b3b3.7c0a8","type":"ui_tab","name":"Heart Failure Prediction","icon":"dashboard","disabled":false,"hidden":false}]